### Loading The Dataset

In [214]:
import pandas as pd

In [216]:
data=pd.read_csv('ganga.csv')

In [218]:
data.isnull().sum()

Date      0
DO        0
pH        0
ORP       0
Cond      0
Temp      0
WQI       0
Status    0
dtype: int64

In [220]:
data['Status'].unique()

array(['Fair', 'Very Poor', 'Poor', 'Good', 'Excellent'], dtype=object)

In [276]:
data.head(4)

,DO,pH,ORP,Cond,Temp,WQI,Status,Year,Month,Date
0,8.630526,8.879727,0.084822,0.044698,22.650238,20.504530,Fair,2019,1,12
1,8.644233,8.866815,0.086292,0.044651,22.567017,20.359197,Fair,2019,1,12
2,13.501176,12.359906,0.142900,46.195190,18.400787,42.014328,Very Poor,2019,1,12
3,9.458531,12.825684,0.146236,52.609680,18.013641,47.745434,Very Poor,2019,1,12

In [230]:
data['year_Month_date']=data['Date'].str.split(' ').str[0]

In [234]:
data['Time']=data['Date'].str.split(' ').str[1]

In [238]:
data.drop('Date',axis=1,inplace=True)

In [248]:
data['Year']=data['year_Month_date'].str.split('-').str[0]
data['Month']=data['year_Month_date'].str.split('-').str[1]
data['Date']=data['year_Month_date'].str.split('-').str[2]

In [252]:
data.drop('year_Month_date',axis=1,inplace=True)

In [258]:
data['Year'].value_counts()

Year
2019    39729
2020     6799
Name: count, dtype: int64

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46528 entries, 0 to 46527
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DO      46528 non-null  float64
 1   pH      46528 non-null  float64
 2   ORP     46528 non-null  float64
 3   Cond    46528 non-null  float64
 4   Temp    46528 non-null  float64
 5   WQI     46528 non-null  float64
 6   Status  46528 non-null  object
 7   Time    46528 non-null  object
 8   Year    46528 non-null  int64
 9   Month   46528 non-null  int64
 10  Date    46528 non-null  int64
dtypes: float64(6), int64(3), object(2)
memory usage: 3.9+ MB

In [264]:
data['Year']=data['Year'].astype(int)
data['Month']=data['Month'].astype(int)
data['Date']=data['Date'].astype(int)

In [268]:
data.drop('Time',axis=1,inplace=True)

In [272]:
data['Status'].unique()

array(['Fair', 'Very Poor', 'Poor', 'Good', 'Excellent'], dtype=object)

In [274]:
data['Status'].value_counts()

Status
Fair         16779
Poor         15618
Very Poor     6840
Good          4632
Excellent     2659
Name: count, dtype: int64